@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@400;600;700&family=Roboto&family=Yusei+Magic&display=swap');

:root
{
    --color-tsa-red: #EF321F;
    --color-tsa-blue: #005DAC;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Montserrat", sans-serif;
}

/* General */
.content
{
    width: 100%;
    min-height: 1000px;

    background-image: linear-gradient(to top, #cbdde9, #fff);
}

.content-container
{
    max-width: 1440px;
    padding: 20px;
    margin: 0 auto;
}

.page-header
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.page-header h1
{
    color: var(--color-tsa-red);
    font-size: 50px;
    text-shadow: 1px 1px 2px black;
}

.tsa-button
{
    background-color: var(--color-tsa-blue);
    color: var(--color-tsa-red);
    border: 5px solid var(--color-tsa-red);
    transition: 0.1s all;
}

.tsa-button:hover
{
    background-color: #004683;
    border: 5px solid #c42a1c;
    transform: scale(1.05);
}

.hidden
{
    display: none;
}

@keyframes fade-in 
{
    0% {opacity: 0;}
    100% {opacity: 1;}    
}

/* Reveal Effects */
.reveal-slide-up
{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.5s;
}

.reveal-slide-up.active
{
    transform: translateY(0);
    opacity: 1;
}

.reveal-slide-from-left
{
    position: relative;
    transform: translateX(-60vw);
    transition: all 1s;
}

.reveal-slide-from-left.active
{
    transform: translateX(0);
}

.reveal-slide-from-right
{
    position: relative;
    transform: translateX(60vw);
    transition: all 1s;
}

.reveal-slide-from-right.active
{
    transform: translateX(0);
}

/* Navbar */
.navbar
{
    width: 100%;
    padding: 20px;
    background-color: #134772;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-container
{
    max-width: 1440px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
}

.navbar-logo img
{
    width: 125px;
    height: auto;
    transition: all 0.1s;
}

.navbar-logo img:hover
{
    transform: scale(1.05);
}

.navbar-links
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.navbar-links li
{
    margin-right: 20px;
}

.navbar-links a
{
    color: var(--color-tsa-red);
    text-decoration: none;
    font-size: 20px;
    transition-property: transform;
    transition: all 0.1s;
    display: inline-block;
    text-align: center;
}

.navbar-links a:hover
{
    transform: scale(1.05);
    text-decoration: underline;
}

/* Home Page */
.main-content-container
{
    display: grid;
    display: flex;
    flex-direction: column;
}

.main-content-container > div
{
    background-image: linear-gradient(to top right, #fff, #d3e7fd);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 200px;
}

.main-header
{
    background-image: url(/images/blueBG_8.jpg);
}

.home-about-box
{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.home-about-box h1
{
    color: var(--color-tsa-blue);
    margin-bottom: 10px;
}

.home-about-box h3
{
    color: var(--color-tsa-red);
    font-size: 15px;
    margin-bottom: 10px;
}

.home-about-box p
{
    font-size: 20px;
}

.home-join-box
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.home-join-box h1
{
    color: var(--color-tsa-red);
    font-size: 40px;
}

.home-join-box h3
{
    color: var(--color-tsa-blue);
    font-size: 25px;
    text-align: center;
}

.home-join-box a
{
    width: 25%;
    height: 30%;
    border-radius: 15px;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.home-next-meeting-box
{
    display: flex;
    justify-content: space-between;
}

.home-next-meeting-box div:first-child
{
    width: 35%;
    
    background-image: url(/images/blueBG_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-next-meeting-box div:first-child h1
{
    font-size: 50px;
    text-align: center;
    color: var(--color-tsa-red);
    text-shadow: 1px 1px 2px black, 0px 0px 10px var(--color-tsa-blue);
}

.home-next-meeting-box div:last-child
{
    width: 65%;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home-next-meeting-box div:last-child h2
{
    font-size: 50px;
    color: var(--color-tsa-red);
    text-align: center;
}

.home-next-meeting-box div:last-child h3
{
    font-size: 25px;
    color: var(--color-tsa-blue);
    text-align: center;
}

.home-next-meeting-box div:last-child a
{
    font-size: 20px;
    color: var(--color-tsa-red);
    text-decoration: none;
    transition: all 0.1s;
}

.home-next-meeting-box div:last-child a:hover
{
    text-decoration: underline;
    transform: scale(1.1);
}

/* Schedule */
.schedule-header
{
    background-image: url(/images/blueBG_2.jpg);
}

.event-box
{
    background-image: linear-gradient(to bottom, #eefcfd, #fff);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    margin-bottom: 30px;
    padding: 10px;
    
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    height: auto;  
}

.event-box hr
{
    width: 100%;
    margin: 5px 0;
    background-color: #000;
    height: 2px;
}

.event-name
{
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--color-tsa-red);
}

.event-date, .event-location
{
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--color-tsa-blue);
}

.event-description
{
    font-size: 16px;
}

/* Announcements */
.announcements-header
{
    background-image: url(/images/blueBG_3.jpg);
}

.announcement-box
{
    background-image: linear-gradient(to bottom, #eefcfd, #fff);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    margin-bottom: 30px;
    padding: 10px;
    
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: auto;
    min-height: 200px;
}

.announcement-box h1
{
    color: var(--color-tsa-blue);
    margin-bottom: 10px;
    font-size: 30px;
}

.announcement-box h3
{
    color: var(--color-tsa-red);
    margin-bottom: 5px;
    font-size: 20px;
}

.announcement-box p
{
    text-align: center;
    font-size: 18px;
    width: 100%;
}

.announcement-box hr
{
    border: none;
    height: 1px;
    background-color: #777;
}

/* Join */
.join-header
{
    background-image: url(/images/blueBG_4.jpg);
}

.join-explain
{
    background-color: rgb(188, 236, 255);
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 20px;
}

.join-explain h3
{
    text-align: center;
    font-size: 20px;
    color: var(--color-tsa-blue);
}

.join-steps
{
    background-image: linear-gradient(to bottom, #e2f7ff, #fff);
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.join-steps div
{
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.join-steps div:nth-of-type(1)
{
    animation-delay: 0s;
}

.join-steps div:nth-of-type(2)
{
    animation-delay: 2s;
}

.join-steps div:nth-of-type(3)
{
    animation-delay: 4s;
}

.join-steps h3
{
    margin-bottom: 10px;
    color: var(--color-tsa-red);
    font-size: 25px;
    text-align: center;
}

.join-steps hr
{
    width: 100%;
    margin: 20px 0;
    height: 3px;
    border: none;
    background-color: rgb(188, 236, 255);
}

.email-form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.email-form div
{
    animation-delay: 0s !important;
    margin-bottom: 20px;
    margin-top: 5px;
}

.form-input-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 30px;
}

.email-input,
.join-name-input
{
    height: 100%;
    margin: 0px 5px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 5px;
}

.join-name-input
{
    width: 250px;
}

.email-form h5
{
    height: 100%;
    text-align: center;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.email-submit-button
{
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    width: 30%;
}

.join-steps div:nth-of-type(2) a
{
    display: flex;
    justify-content: center;
}

.join-groupme-img
{
    width: auto;
    height: 100px;
    transition: all 0.25s;
    border: 2px solid #91ccff;
    border-radius: 20px;
    padding: 5px;
}

.join-groupme-img:hover
{
    transform: scale(1.1);
}

.join-steps p
{
    text-align: center;
    font-size: 18px;
}

.intext-a
{
    color: var(--color-tsa-red);
    text-decoration: none;
    transition: all 0.1s;
    cursor: pointer;
}

.intext-a:hover
{
    text-decoration: underline;
    transform: scale(1.1);
}

/* Resources */
.resources-header
{
    background-image: url(/images/blueBG_5.jpg);
    background-position: 50% 68%;
}

.resources-box
{
    background-image: linear-gradient(to bottom, #e2f7ff, #fff);
    padding: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.resources-box h1
{
    color: var(--color-tsa-blue);
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}

.resources-box-grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.resources-box-grid div
{
    padding-top: 75%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.resources-box-grid div:hover
{
    transform: scale(1.075);
}

.resources-box p
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: var(--color-tsa-red);
    background-color: #005DACff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Competitions */
.competitions-header
{
    background-image: url("/images/blueBG_6.jpg");
}

.competition-selection-info
{
    background-image: linear-gradient(to bottom, rgb(225, 251, 255), #fff);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.competition-selection-info h2
{
    color: var(--color-tsa-blue);
    margin-bottom: 10px;
}

.selected-choices-box
{
    background-image: linear-gradient(to bottom, rgb(237, 253, 255), #fff);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;

    display: flex;
    justify-content: space-around;

    color: var(--color-tsa-red);
    min-height: 200px;
}

.selected-choices-box ul
{
    margin-left: 30px;
}

.selected-choices-box h3
{
    text-align: center;
}

.competitions-choices-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.competition-choice-box
{
    background-color: #91ccff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    border: 5px solid #91ccff;
    transition: 0.25s all;
    width: 95%;
}

.competition-choice-box:hover
{
    transform: scale(1.05);
}

.competition-choice-box.selected
{
    border: 5px solid rgb(0, 194, 26);
    background-color: rgb(0, 194, 26);
}

.competition-choice-box.alternate
{
    border: 5px dashed rgb(101, 255, 108);
    background-color: rgb(101, 255, 108);
}

.competition-choice-box.selected h4, 
.competition-choice-box.alternate h4
{
    background-color: rgba(0, 119, 223, 1);
}

.competition-choice-box h4
{
    color: var(--color-tsa-red);
    background-color: rgba(0, 119, 223, 0.5);
    padding: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.competition-choice-box div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.competition-choice-box button
{
    padding: 5px;
    flex-grow: 1;
    height: 100%;
    min-height: 50px;
    width: 175px;
    border-radius: 10px;
    border: 5px solid var(--color-tsa-red);
    background-color: #0068c4;
    color: var(--color-tsa-red);
    font-family: "Montserrat", sans-serif;
    font-size: 25px;

    transition: 0.1s all;
}

.competition-choice-box button:hover
{
    transform: scale(1.05);
}

.button-competition-selected
{
    margin-right: 20px;
}

.competitions-submit-box
{
    background-image: linear-gradient(to bottom, rgb(237, 253, 255), #fff);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
}

.competition-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.competition-form div
{
    display: flex;
    margin-bottom: 20px;
}

.competition-form h5
{
    margin-right: 5px;
    font-size: 20px;
}

.name-input
{
    height: 100%;
    margin-right: 5px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 5px;
}

.competition-submit-button
{
    width: 50%;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-radius: 20px;
}

/* About */
.about-header
{
    background-image: url("/images/blueBG_7.jpg");
}

.about-content-container
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.about-box
{
    background-image: linear-gradient(to bottom, #eefcfd, #fff);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    margin-bottom: 30px;
    
    border-radius: 10px;

    min-height: 250px;
    width: 100%;

    display: flex;  
}

.about-box.reversed
{
    flex-direction: row-reverse;
}

.about-box-text
{
    width: 60%;
    padding: 20px;
}

.about-box-text h2
{
    color: var(--color-tsa-blue);
    font-size: 35px;
    margin-bottom: 10px;
}

.about-box-text p
{
    font-size: 18px;
}

.about-box-img
{
    width: 40%;
    background-color: red;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-box-img
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.reversed .about-box-img
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* Hamburger Menu */
.hamburger-button
{
    cursor: pointer;
    width: 48px;
    height: 48px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
    display: none;
    margin-top: 5px;
}

.hamburger-button.open
{
    margin-top: 20px;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--color-tsa-red);
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle
{
    transform: translateY(14px);
}

.hamburger-bottom
{
    transform: translateY(28px);
}

.open .hamburger-top
{
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle
{
    display: none;
}

.open .hamburger-bottom
{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.mobile-menu
{
    position: fixed;
    display: none;
    top: 119px;
    right: 0px;
    background-color: #689ac2;
    width: 80%;
    height: 100%;
    padding: 20px;
    z-index: 5;
    transition: all 0.5s;
    box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, 035);
}

.mobile-menu.hide
{
    transform: translateX(100vw);
}

.mobile-menu h3
{
    color: var(--color-tsa-blue);
    font-size: 35px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.mobile-menu hr
{
    margin: 20px 0;
    border: none;
    height: 2px;
    background-color: rgb(98, 192, 255);
}

.mobile-menu-links
{
    list-style: none;
    font-size: 25px;
}

.mobile-menu-links li
{
    margin-bottom: 20px;
}

.mobile-menu-links a
{
    text-decoration: none;
    color: var(--color-tsa-red);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.1s;
    display: inline-block;
}

.mobile-menu-links a:hover
{
    text-decoration: underline;
    transform: scale(1.05);
}

.no-scroll
{
    overflow: hidden;
}

/* Navbar Mobile */

@media (max-width: 875px)
{
    .navbar-links
    {
        display: none;
    }

    .hamburger-button
    {
        display: block;
    }

    .navbar-container
    {
        justify-content: space-between;
    }

    .navbar-logo img
    {
        width: 125px;
    }

    .mobile-menu
    {
        display: block;
    }
}

/* Mobile */
@media (max-width: 700px) 
{
    .home-next-meeting-box
    {
        flex-direction: column;
    }

    .home-next-meeting-box div:first-child
    {
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        height: 150px;
        padding: 20px;
    }

    .home-next-meeting-box div:last-child
    {
        width: 100%;
        height: 200px;
    }

    .announcements-header h1
    {
        font-size: 40px;
    }

    .join-steps h3
    {
        padding: 0 10px;
    }

    .email-submit-button
    {
        font-size: 18px;
    }

    .email-form h5
    {
        font-size: 15px;
    }

    .about-box,
    .about-box.reversed
    {
        flex-direction: column;
    }

    .about-box-text
    {
        height: 65%;
        width: 100%;
    }

    .about-box-img,
    .reversed .about-box-img
    {
        height: 200px;
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .resources-box-grid
    {
        grid-template-columns: 1fr;
    }

    .resources-box p
    {
        font-size: 25px;
    }

    .selected-choices-box
    {
        min-height: 300px;
    }

    .selected-choices-box h3
    {
        font-size: 16px;
    }

    .selected-choices-box li
    {
        font-size: 12px;
    }

    .competition-choice-box
    {
        flex-direction: column;
    }

    .competition-choice-box h4
    {
        margin-right: 0px;
        margin-bottom: 20px;
        text-align: center;
    }
}